/* Prevent scrollbars on the whole page */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide both vertical and horizontal scrollbars */
  height: 100%; /* Ensure full viewport height */
}

/* Container to center content */
.startpage-container {
  position: relative; /* Set the container to relative for absolute positioning of child elements */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container takes full viewport height */
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 0; /* Remove padding to prevent overflow */
  width: 100vw; /* Ensure full viewport width */
  overflow: hidden; /* Prevent scrolling */
}

/* Logo styling */
.startpage-logo {
  position: absolute;
  left: 15px;
  top: 20px; /* Positioning logo at the top left corner */
  height: 30px;
  /* Adjust the logo size */
}

/* Content container */
.startpage-content-container {
  position: absolute; /* Position content absolutely over the video */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  text-align: center;
  z-index: 1; /* Ensure content is on top of the video */
  color: white; /* White text for better visibility */
}

/* Button styling */
.startpage-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #41c136;
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}

.startpage-button:hover {
  background-color: #0056b3;
}

.startpage-content-container h1 {
  font-family: "Georgia", serif; /* Use a standard system font */
  font-size: 1.8rem; /* Adjust size as needed */
  color: #fff; /* White color for better visibility */
  text-align: center; /* Center-align the text */
  margin-bottom: 20px; /* Add spacing below the heading */
}
